<mat-toolbar color="primary">

    
    <button mat-icon-button [routerLink]="['/']" routerLinkActive="router-link-active" aria-label="Go to Home">
        <mat-icon>home</mat-icon>
      </button>
      
    <span>Exam portal</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [routerLink]="['/login']" routerLinkActive="router-link-active" aria-label="Go to Login page" class="example-icon favorite-icon">
        <mat-icon>Login</mat-icon>
      </button>
      
      <button mat-icon-button [routerLink]="['/signup']" routerLinkActive="router-link-active" aria-label="Go to signup page" class="example-icon favorite-icon">
        <mat-icon>Signup</mat-icon>
      </button>
  </mat-toolbar>
  
