<mat-card>
    <mat-action-list>
        <div mat-subheader>
            Menu

            <button mat-list-item routerLink="/admindashboard/" routerLinkActive="router-link-active">
                <mat-icon mat-list-icon>home</mat-icon> <!-- Replace 'home' with the appropriate icon for Home -->
                Home
              </button>
              
               
            <button mat-list-item routerLink="/admindashboard/profile" routerLinkActive="router-link-active">
                <mat-icon mat-list-icon>account_circle</mat-icon> 
                Profile
              </button>

              <button mat-list-item  routerLinkActive="router-link-active">
                <mat-icon mat-list-icon>category</mat-icon> 
                Categories
              </button>

              <button mat-list-item  routerLinkActive="router-link-active">
                <mat-icon mat-list-icon>library_add</mat-icon> 
               Add Categories
              </button>
              
              <button mat-list-item  routerLinkActive="router-link-active">
                <mat-icon mat-list-icon>quiz</mat-icon> 
                Quiz
              </button>


              <button mat-list-item  routerLinkActive="router-link-active">
                <mat-icon mat-list-icon>more_time</mat-icon> 
                Add Quizs
              </button>
              
        </div>
    </mat-action-list>
</mat-card>
